<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Gold Book</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="resources/css/mystyle.css">
	
	<script type="text/javascript" src="resources/js/myJS.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
  </head>
  
  <body id="body">
  	<div id="mainDiv">
  	
<!-- 	    <h1 th:text="#{titre}"></h1> -->
		<h1> Livre d'or de Sarah et Cedric </h1>
			
		<button onclick="wedding()">Créer un mariage</button>
		<button onclick="message()">Participer à un mariage</button>
	
  	</div>
  	
  <input id="publicId" name="publicId" type="hidden" />
  
  </body>
</html>