    <h1> Livre d'or de Sarah et Cedric </h1>
		
	<textarea id="textarea_message" placeholder="Votre message pour les mariés..." required></textarea>
	<input type="text" id="text_name" name="text_name" required minlength="4" maxlength="20" placeholder="Votre nom" ></input>	
	<input type="tel" id="text_number" name="text_number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Votre numéro de téléphone" /></input>
		
	<video id="video" width="640" height="480" autoplay></video>
	<canvas id="canvas" style="display:none;" width="640" height="480"></canvas>

	<button onclick="sendMessageAndVideo()">Envoyer !</button>