
	    <h1> Wedding app ! Le livre d'or des mariages </h1>
		<h2> Creation d'un mariage </h2>
		
		<input type="text" id="name_partner1" placeholder="Nom partenaire 1"/>
		<input type="text" id="name_partner2" placeholder="Nom partenaire 2"/>
		<input type="text" id="num_partner1" placeholder="Numero partenaire 2"/>
		<input type="text" id="num_partner2" placeholder="Numero partenaire 2"/>
		<input type="text" id="weddingDate" placeholder="Date du mariage dd/MM/yyyy"/>
		
		<button onclick="submitNewWedding();">OKOKOKOKOK WEDDING INIT</button>
		<div id="resultLabel_idPublic" style="display:none">
			<label id="label_idPublic_part_fixe">La référence mariage à indiquer aux participants : </label>
			<label id="label_idPublic_part_variable"/>
		</div>